@font-face {
    font-family: 'spaceboy';
    src: url(../media/SPACEBOY.TTF);
}

*{
    padding: 0;
    margin: 0;
}

body{   
    background-color: black;
    height: 100vh;
    display: flex;
    z-index: 1;
    
}

.banner{
    z-index: 98;
    position: fixed;
    display: flex;
    align-self: center;
    display: flex;
    align-items: center;
    height: 60vh;
    width: 100vw;
}

h1{
    font-size: 4em;
    text-align: center  ;
    font-family: 'spaceboy';
    color: white;
    text-align: center;
}

#gradient{
    position: fixed;
    background-image: url(../media/gradient.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: 4;
}

header{
    background-color: aliceblue;
    width: 100vw;
    height: fit-content;
    z-index: 99;
    
}



#stars{
    position: fixed;
    background-image: url(../media/star.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

#sun{
    background-image: url(../media/sun.gif);
    height: 40vh;
    width: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    align-self: center;
    left: 43%;
    z-index: 5;
}

#mercury{
    position: fixed;
    height: 10vh;
    width: 10vh;
    background: url(../media/mercury.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60vh;
    margin-left: 30vh;
    left: 50%;
    z-index: 5;
}

#venus{
    position: fixed;
    height: 15vh;
    width: 15vh;
    background: url(../media/venus.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80vh;
    margin-left: 50vw;
    z-index: 5;
}

#earth{
    position: fixed;
    height: 18vh;
    width: 18vh;
    background: url(../media/earth.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40vh;
    margin-left: 30vw;
    z-index: 5;
}

#mars{
    position: fixed;
    height: 12vh;
    width: 12vh;
    background: url(../media/mars.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 6vh;
    margin-left: 50vw;
    z-index: 5;
}

#jupiter{
    position: fixed;
    height: 40vh;
    width: 40vh;
    background: url(../media/jupiter.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60vh;
    margin-left: 10vw;
    z-index: 5;
}

#saturn{
    position: fixed;
    height: 80vh;
    width: 80vh;
    background: url(../media/saturn.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20vh;
    margin-left: 65vw;
    z-index: 5;
}

#uranus{
    position: fixed;
    height: 35vh;
    width: 35vh;
    background: url(../media/uranus.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10vw;
    z-index: 5;
}

#neptune{
    position: fixed;
    height: 35vh;
    width: 35vh;
    background: url(../media/neptune.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70vh;
    margin-left: 80vw;
    z-index: 5;
}

@keyframes rotate { 
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
    
} 

#cover{
    position: fixed;
    background: linear-gradient(to right, rgba(0, 0, 0.5), black, rgba(0, 0, 0.5));
    height: 100vw;
    width: 20vh;
    z-index: 3;
    animation: move 20s linear infinite;
}

@keyframes move{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(90vw);
    }
}


