@font-face {
    font-family: 'spaceboy';
    src: url(../media/SPACEBOY.TTF);
}

*{
    padding: 0;
    margin: 0;
}

body{   
    background-color: black;
    height: 100vh;
    display: flex;
    z-index: 1;
    
}

.banner{
    z-index: 98;
    position: fixed;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    background-color: 	rgba(0,0,0,0.25);
    height: max-content;
    padding: 2vh;
    width: 100vw;
}

h1{
    font-size: 4.3em;
    font-family: 'spaceboy';
    color: white;
    text-align: center;
    animation: heading 8s;
}

@keyframes heading {
    0%{
        transform: scale(0em);
        transform: skew(20deg);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes skew {
    0%{
        transform: skew(0);
    }
    50%{
        transform: skewX(-30deg);
    }
    100%{
        transform: skewX(30deg);
    }
}

#gradient{
    position: fixed;
    background-image: url(../media/gradient.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: 4;
}

header{
    width: 100vw;
    height: fit-content;
    z-index: 99;
    padding-top: 2vh;
    background-color: rgba(0,0,0,0.25);
}

header h2{
    color: white;
    font-size: 1.5em;
    text-align: center;
    font-family: 'spaceboy';
}



#stars{
    position: fixed;
    background-image: url(../media/star.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    z-index: 2;
}

#sun{
    background-image: url(../media/sun.gif);
    height: 40vh;
    width: 40vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    align-self: center;
    left: 43%;
    z-index: 5;
}

#mercury{
    position: fixed;
    height: 10vh;
    width: 10vh;
    background: url(../media/mercury.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60vh;
    margin-left: 30vh;
    left: 50%;
    z-index: 5;
}

#venus{
    position: fixed;
    height: 15vh;
    width: 15vh;
    background: url(../media/venus.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 80vh;
    margin-left: 50vw;
    z-index: 5;
}

#earth{
    position: fixed;
    height: 18vh;
    width: 18vh;
    background: url(../media/earth.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 40vh;
    margin-left: 30vw;
    z-index: 5;
}

#mars{
    position: fixed;
    height: 12vh;
    width: 12vh;
    background: url(../media/mars.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 6vh;
    margin-left: 50vw;
    z-index: 5;
}

#jupiter{
    position: fixed;
    height: 40vh;
    width: 40vh;
    background: url(../media/jupiter.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 60vh;
    margin-left: 10vw;
    z-index: 5;
}

#saturn{
    position: fixed;
    height: 80vh;
    width: 80vh;
    background: url(../media/saturn.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -20vh;
    margin-left: 65vw;
    z-index: 5;
}

#uranus{
    position: fixed;
    height: 35vh;
    width: 35vh;
    background: url(../media/uranus.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10vw;
    z-index: 5;
}

#neptune{
    position: fixed;
    height: 35vh;
    width: 35vh;
    background: url(../media/neptune.gif);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 70vh;
    margin-left: 80vw;
    z-index: 5;
}
    

#cover{
    position: fixed;
    background: linear-gradient(to right, rgba(0, 0, 0.5), black, rgba(0, 0, 0.5));
    height: 100vw;
    width: 5vh;
    z-index: 3;
    transform: translateY(-100%);
    animation: move 40s linear infinite;
}

@keyframes move{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(90vw);
    }
}

#rocket{
    background-image: url(../media/rocket.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vh;
    width: 25vh;
    position: fixed;
    z-index: 100;
    animation: fly 5s linear forwards;
    bottom: -25vh;
    left: -25vh;
    animation-delay: 6s;
}

#astronaut{
    position: fixed;
    background-image: url(../media/astronaut.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    width: 20vh;
    right: 0vh;
    top: -40vh;
    animation: astronaut 7s linear forwards;
    transform-origin: top right;
    animation-delay: 12s;
    z-index: 99;
}

@keyframes fly {
    0%{
        transform: rotate(45deg);
    }
    100%{
        transform:  translateY(-120vh) translateX(120vw) rotate(45deg);
    }
}

@keyframes astronaut {
    0%{
        transform: translateY(0vh);
    }
    100%{
        transform: translateY(150vh);
    }
    
}


